<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="feedRetriever" type="FolderWatch.FeedRetrieverSection,FolderWatch" allowLocation="true"
          allowDefinition="Everywhere"/>
  </configSections>

  <!--
  <hosts>
    <ftp>
     <add ... />
    </ftp>
    <scp>
    </scp>
  </hosts>
    -->

  <feedRetriever>
    <feeds>
      <add name="Nettuts+" url="http://feeds.feedburner.com/nettuts" cache="false"/>
      <add name="Jeremy McPeak" url="http://www.wdonline.com/feeds/blog/rss/" />
      <add name="Nicholas C. Zakas" url="http://feeds.nczonline.net/blog/" />
    </feeds>
  </feedRetriever>

<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

</configuration>